body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2%; 
  background-color: dimgrey;
}

h1 {
  display: grid;
  place-content: center;
  text-align: center;
  background-color: white;
  border: 5px solid black;
  width: 805px;
  max-width: 90%;
  position: relative;
  margin: auto;
}

.toolbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5%;
  flex-wrap: wrap; 
}

button {
  transition: background-color 0.5s;
}

button, input {
  margin: 5px;
  padding: 5px; 
  border: 4px solid;
  width: auto; 
  background-color: white;
}

button img {
  width: 20px;
  height: auto;
  cursor: pointer;
  transition: filter 0.5s;
}

button img:hover {
  filter: invert(1);
  transition: 0.5s;
}

button:hover {
  background-color: black;
  transition: 0.5s;
}

#canvas {
  display: block;
  margin: 2% auto; 
  background-color: white;
  border: 5px solid black;
  cursor: crosshair;
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px; 
  }
  
  .toolbox {
    flex-direction: column;
  }
}

#colorsCatalog{
  cursor: pointer;
}
